nltk
tashaphyne
emojis
sklearn
twarc
twint
urllib3
gensim
nltk
pycld2
googletrans
emojis
emosent-py
spacy_langdetect
spacy
sklearn
python-bidi
matplotlib
arabic-reshaper
gdown
tashaphyne
xgboost
tensorflow
pydantic
fastapi
uvicorn
